services:
  station-1:
    build:
      context: ./weather-station
      dockerfile: Dockerfile
    hostname: weather-station-1
    container_name: weather-station-1
    environment:
      - SERVER_HOSTNAME
      - SERVER_PORT
      - MAX_MSG_LEN
      - STATION_ID=STATION_1
      - AVAILABLE_METRICS=temperature,humidity,wind_speed
      - METRIC_RANGES=-10,40|0,1|0,50
    secrets:
      - server-secret
      - station-1-secret
    networks:
      stations-net:
        aliases:
          - station-1
  station-2:
    build:
      context: ./weather-station
      dockerfile: Dockerfile
    hostname: weather-station-2
    container_name: weather-station-2
    environment:
      - SERVER_HOSTNAME
      - SERVER_PORT
      - MAX_MSG_LEN
      - STATION_ID=STATION_2
      - AVAILABLE_METRICS=temperature
      - METRIC_RANGES=-10,40
    secrets:
      - server-secret
      - station-2-secret
    networks:
      stations-net:
        aliases:
          - station-2
  station-3:
    build:
      context: ./weather-station
      dockerfile: Dockerfile
    hostname: weather-station-3
    container_name: weather-station-3
    environment:
      - SERVER_HOSTNAME
      - SERVER_PORT
      - MAX_MSG_LEN
      - STATION_ID=STATION_3
      - AVAILABLE_METRICS=temperature,wind_speed
      - METRIC_RANGES=-10,40|0,50
    secrets:
      - server-secret
      - station-3-secret
    networks:
      stations-net:
        aliases:
          - station-3
  station-4:
    build:
      context: ./weather-station
      dockerfile: Dockerfile
    hostname: weather-station-4
    container_name: weather-station-4
    environment:
      - SERVER_HOSTNAME
      - SERVER_PORT
      - MAX_MSG_LEN
      - STATION_ID=STATION_4
      - AVAILABLE_METRICS=temperature,humidity
      - METRIC_RANGES=-10,40|0,1
    secrets:
      - server-secret
      - station-4-secret
    networks:
      stations-net:
        aliases:
          - station-4
  station-5:
    build:
      context: ./weather-station
      dockerfile: Dockerfile
    hostname: weather-station-5
    container_name: weather-station-5
    environment:
      - SERVER_HOSTNAME
      - SERVER_PORT
      - MAX_MSG_LEN
      - STATION_ID=STATION_5
      - AVAILABLE_METRICS=temperature,humidity,wind_speed
      - METRIC_RANGES=-10,40|0,1|0,50
    secrets:
      - server-secret
      - station-5-secret
    networks:
      stations-net:
        aliases:
          - station-5


secrets:
  station-1-secret:
    environment: STATION_1_SECRET
  station-2-secret:
    environment: STATION_2_SECRET
  station-3-secret:
    environment: STATION_3_SECRET
  station-4-secret:
    environment: STATION_4_SECRET
  station-5-secret:
    environment: STATION_5_SECRET

