services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    hostname: ${SERVER_HOSTNAME}
    container_name: ${SERVER_HOSTNAME}
    # ports:
    #   - "8080:8080"
    environment:
      - MAX_STATIONS
      - MAX_MSG_LEN
      - SERVER_PORT
      - LOG_LEVEL=info
    secrets:
      - server-secret
      - station-secrets
    networks:
      - stations-net