services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    hostname: ${SERVER_HOSTNAME}
    # ports:
    #   - "8080:8080"
    environment:
      - SERVER_PORT=${SERVER_PORT}
      - LOG_LEVEL=info
    networks:
      - stations-net