services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    hostname: ${SERVER_HOSTNAME}
    container_name: ${SERVER_HOSTNAME}
    environment:
      - DB_PATH
      - MAX_STATIONS
      - MAX_MSG_LEN
      - MAX_TIMEOUT
      - SERVER_PORT
      - METRIC_RANGES
      - LOG_LEVEL=info
    volumes:
      - logs:/app/logs:rw
      - data-db:${DB_PATH}:rw
    secrets:
      - server-secret
      - station-secrets
    networks:
      - stations-net